body{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

header{
    text-align: center;
    color: #7aab8c;
    text-decoration:none;
    margin-top: 8px;
}

.icons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo{
   float: left; 
}

nav{
    font-size: 13px;
    display: flex;
    position: relative;
    padding-top: 28px;
    
}

a{ 
    text-decoration: none; 
}

nav a{
    color:#7aab8c;
}

nav a:hover{
    color:#612120;
}

ul{
    list-style-type: none;
    text-align: left;
}

nav ul li{
    display: inline-block;
    padding-right: 25px;
}

.bagicon{
    display: inline;
    color: #d14330;
    padding-top: 24px;
    padding-left: 5px;
}

.banner1::before{
    content: ' ';
    display: block;
    position: relative;
    background-image: url(../images/hands.jpg);
    background-size: cover;
    background-position: center;
    height: 206px;
    width: 390px;
    opacity: 0.8;
    background-repeat: no-repeat;
    margin-top: 18px;
}

.banner2::before{
    content: ' ';
    display: block;
    position: relative;
    background-image: url(../images/neonlight.jpg);
    background-size: cover;
    background-position: center;
    height: 261px;
    width: 390px;
    opacity: 0.8;
    background-repeat: no-repeat;
    margin-top: 18px;
}

.banner3::before{
    content: ' ';
    display: block;
    position: relative;
    background-image: url(../images/women.jpg);
    background-size: cover;
    background-position: center;
    height: 261px;
    width: 390px;
    opacity: 0.8;
    background-repeat: no-repeat;
    margin-top: 18px;
}

.bannertext{
    color: #d14330;
    padding: 15px;
    position: relative;
    top: -210px;
    max-width: 300px;
}

.bannertext2{
    color:#e3c086;
    padding: 15px;
    position: relative;
    top: -100px;
    left: 230px;
}

.bannertext3{
    color:#d14330;
    padding: 15px;
    position: relative;
    top: -100px;
    left: 190px;
}

