body{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

h3{
    font-family: 'PT Serif', serif;
    font-size: 16px;
}


header{
    text-align: center;
    color: #7aab8c;
    text-decoration:none;
    margin-top: 8px;
}

.icons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo{
   float: left; 
}

.logo:hover{
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

nav{
    font-size: 13px;
    display: flex;
    position: relative;
    padding-top: 28px;
    
}

a{ 
    text-decoration: none; 
}

nav a{
    color:#7aab8c;
}

nav a:hover{
    color:#612120;
}

ul{
    list-style-type: none;
    text-align: left;
}

nav ul li{
    display: inline-block;
    padding-right: 25px;
}

.bagicon{
    display: inline;
    color: #d14330;
    padding-top: 24px;
    padding-left: 5px;
}

.banner1::before{
    content: ' ';
    display: block;
    position: relative;
    background-image: url(../images/hands.jpg);
    background-size: cover;
    background-position: center;
    height: 206px;
    width: 390px;
    opacity: 0.8;
    background-repeat: no-repeat;
    margin-top: 18px;
}

.banner2::before{
    content: ' ';
    display: block;
    position: relative;
    background-image: url(../images/neonlight.jpg);
    background-size: cover;
    background-position: center;
    height: 261px;
    width: 390px;
    opacity: 0.8;
    background-repeat: no-repeat;
    margin-top: 18px;
}

.banner3::before{
    content: ' ';
    display: block;
    position: relative;
    background-image: url(../images/women.jpg);
    background-size: cover;
    background-position: center;
    height: 261px;
    width: 390px;
    opacity: 0.8;
    background-repeat: no-repeat;
    margin-top: 18px;
}

.bannertext{
    color: #d14330;
    padding: 15px;
    position: relative;
    top: -210px;
    max-width: 300px;
}

.bannertext2{
    color:#e3c086;
    padding: 15px;
    position: relative;
    top: -100px;
    left: 230px;
}

.bannertext3{
    color:#d14330;
    padding: 15px;
    position: relative;
    top: -100px;
    left: 190px;
}

.grid1{
    text-align: center;
    margin-top: -12rem;
    padding-top: -10px;
}

.gridtext{
    color: #ffffff;
    margin-top: -58px;
} 

.items{
    text-align: center;
}

.items h1{
    color: #7aab8c;
}

.abouttext{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: -120px;
    color: #7aab8c;
    font-size: 16px;
}

.aboutimg{
    text-align: center;
}

.address{
    text-align: center;
}

.location{
    text-align: center;
}

.form{
    text-align: center;
}

.form input{
    width: 360px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2.5px;
}

.form input#message{
    height: 100px;
}

.form button {
	background-color: #7aab8c;
	color:#e3c086;
	font-size: 16pt;
	border: none;
	padding: 5px;
	letter-spacing: 1px;
}

.form button:hover{
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
}

.form button:active{
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}
.hours{
    text-align: center;
}
footer {
	display: inline-block;
	width: 100%;
	background-color: #612120;
	color: #e3c086;
	vertical-align: top;
	padding: 10px 10px;
}
